<div class="port-center">

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="port-center">Project Name</th>
            <th class="port-center">Project Short Desc</th>
            <th class="port-center">Project Summary</th>
            <th class="port-center">Project Repo Url</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="project in blockchainProjects |itemsPerPage:10 track by $index">
            <td><a ng-click="viewPortItem(project.ProjectId)">{{project.ProjectName}}</a></td>
            <td>{{project.ShortDesc}}</td>
            <td>{{project.ProjectSummary |cut:true:100:' .....'}}</td>
            <td><a href="{{project.RepoUrl}}" target="_blank">{{project.RepoUrl}}</a></td>
        </tr>
        </tbody>
    
    </table>
    <dir-pagination-controls max-size="10"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
    </div>
