<section id="portfolioItem">
    <!-- Page Content -->
    <!--<pre>{{project | json}}</pre>
    <pre>{{featuredImage | json}}</pre>
    <pre>{{images | json}}</pre>-->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">
                    {{project.ProjectName}}
                    <small>{{project.ShortDesc}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{featuredImage.ImageUrl}}" target="_blank" alt="">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="page-header">Other Images</h3>
                    </div>

                    <div ng-repeat="image in images track by $index" ng-show="images.length>=1">
                        <div class="col-sm-3 col-xs-6">
                            <a href="{{image.ImageUrl}}">
                                <img class="img-responsive portfolio-item" src="{{image.ImageUrl}}" target="_blank" alt="">
                            </a>
                        </div>
                    </div>
                    <div ng-show="images.length<1"><p>No other images have been added.</p></div>
                </div>
            </div>
            <!--http://placehold.it/750x500-->
            <div class="col-md-4">
                <h3>Project Summary</h3>
                <p>{{project.ProjectSummary}}</p>

                <br />
                <p ng-show="project.ProjectUrl != null">
                    <span style="white-space: nowrap">Website Url:</span>&nbsp;<a target="_blank" href="{{project.ProjectUrl}}">{{project.ProjectUrl}} </a>
                </p>
                <p ng-show="project.ProjectUrl == null">
                    <span style="white-space: nowrap">Website Url:</span>&nbsp;<span>N/A</span>
                </p>
                <br />
                <p ng-show="project.RepoUrl != null && project.RepoUrl.length > 2">
                    <span style="white-space: nowrap">Repo Url:</span>&nbsp;<a target="_blank" href="{{project.RepoUrl}}">{{project.RepoUrl}} </a>
                </p>
                <p ng-show="project.RepoUrl == null || project.RepoUrl.length < 2">
                    <span style="white-space: nowrap">Repo Url:</span>&nbsp;<span>
                        <a href="mailto:jeff@jeffwarddevelopment?subject = Access to Private Repo">
                            This Repo is private, please contact Jeff Ward for access
                        </a>
                    </span>
                </p>
                <h3>Project Technolgies</h3>
                <!--<ul ng-repeat="tech in project.ProjectTechnologies track by $index">
                    <li>{{tech.TechnologyName}}</li>
                </ul>-->
                <ul ng-repeat="limit in getLimits(tech)" class="port-col" ng-show="tech.length>2">
                    <li ng-repeat="item in tech | limitTo : limit">
                        {{ item.TechnologyName }}
                    </li>
                </ul>
                <ul ng-repeat="item in tech track by $index" ng-show="tech.length <= 2">
                    <li>{{item.TechnologyName}}</li>
                </ul>
                <style>
                </style>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>