/*Progress Bars*/
.progress-wrapper {
    position: relative;
}

    .progress-wrapper .text {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        text-align: center;
        width: 100%;
        z-index: 1;
    }

/* PLaceholder text color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/* Skill counters */
.skill-text {
    font-size: 18px;
    color: darkslategray;
}

.skill-score-text {
    font-size: 18px;
    color: darkslategray;
}

.contact-text {
    color: white;
}

.featuredItem {
    padding-bottom: 30px;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor: pointer;
}

.port-center {
    margin: 0 auto;
    text-align: center;
}

.portfolio-tab-height {
    min-height: 600px;
}

.port-caption-text {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.post-content {
    top: 0;
    left: 0;
    max-width: 360px;
    max-height: 225px;
    position: absolute;
    color: #ffffff;
}

.thumbnail {
    position: relative;
}

.details {
    position: absolute;
    z-index: 2;
    top: 0;
    color: #ffffff;
}

/*Slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.port-col {
    float: left;
    width: 175px;
}

.short-line {
    height: 5px;
    border: none;
    color: white;
    background-color: white;
    max-width: 250px;
}

.port-featured-image {
    max-height: 218.5px;
    max-width: 446px;
}